<div class="col-md-6 col-md-offset-3">
    <h2 style="color:black;">Click on the Time Frame you want to choose</h2>
        <div class="form-actions">
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />			
			<button  ng-disabled="testButton1"   ng-click="test(1);" ng-class="testButton1 ? 'btn btn-danger' : 'btn btn-primary'" >9 AM to 10 AM</button>
			<button  ng-disabled="testButton2"   ng-click="test(2);" ng-class="testButton2 ? 'btn btn-danger' : 'btn btn-primary'" >10 AM to 11 AM</button>
			<button  ng-disabled="testButton3"   ng-click="test(3);" ng-class="testButton3 ? 'btn btn-danger' : 'btn btn-primary'" >11 AM to 12 PM</button>
			<button  ng-disabled="testButton4"   ng-click="test(4);" ng-class="testButton4 ? 'btn btn-danger' : 'btn btn-primary'" >12 PM to 1 PM</button>
			<button  ng-disabled="testButton5"   ng-click="test(5);" ng-class="testButton5 ? 'btn btn-danger' : 'btn btn-primary'" >1 PM to 2 PM</button>
			<button  ng-disabled="testButton6"   ng-click="test(6);" ng-class="testButton6 ? 'btn btn-danger' : 'btn btn-primary'" >2 PM to 3 PM</button>
			<button  ng-disabled="testButton7"   ng-click="test(7);" ng-class="testButton7 ? 'btn btn-danger' : 'btn btn-primary'" >3 PM to 4 PM</button>
			<button  ng-disabled="testButton8"   ng-click="test(8);" ng-class="testButton8 ? 'btn btn-danger' : 'btn btn-primary'" >4 PM to 5 PM</button>
        </div>
    </form>
</div>
